@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  /* color-home */
  --theme-color-home: #2a2a2a;
  --text-color-inverse-home: white;
  --text-color-hamburguesa-home: #9f9f9f;
  --text-color-logo-home: #8a8a8a;
  --primary-color-home: #124f88;
  --secundary-color-home: #F7C331;
  /********Color-about****************/
  --theme-color: white;
  --primary-color: #124f88;
  --secundary-color: #F7C331;
  --text-color-inverse: white;
  --text-color: black;
  /* --navbar-shallow-color: #e5e5e5; */
  --menu-mobile-background-color: #2a2a2a;
  --text-color-logo: #8a8a8a;
  /*--menu-mobile-background-color: #3A4460;*/
  --text-color-hamburguesa: #9f9f9f;

  /*Colores de Acento*/
  --accent-color: var(--primary-color);
  --primary-color-inverse: black;

  --navbar-shadow: 0 4px 5px #e5e5e5;
  --tag-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  --transition: 0.1s ease-in-out;
  color-scheme: light;
}


/*@media(prefers-color-scheme: dark){*/

/*:root[data-theme="dark"]{
    --theme-color: #0f172a;
    --primary-color: #243043;
    --secundary-color: #9dc8db;
    --text-color: rgba(255, 255, 255, 0.87);
    --text-color-inverse: var(--text-color);
    --menu-mobile-background-color: #18213e;
  
    --accent-color: var(--secundary-color);
    --navbar-shadow: 0 1px rgba(51, 65, 85, 0.8);
    --tag-shadow: 0 0 0 1px #ffffff;
    color-scheme: dark;
  
  }*/

/*}*/

/**{
  transition: background-color var(--transition), box-shadow var(--transition);
}

svg{
  transition: color var(--transition);
}*/

html{
  scroll-behavior: smooth;
}

body{
  background-color: white/*#2a2a2a*/;
  font-family: 'Montserrat', sans-serif;
  /*overflow-y: hidden;*/
  overflow-x: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  text-align: center;

}

a{
  text-decoration: none;
}